body {
    background-color: #eee9e2;
    color: #e41d1d;
    text-align: center;
}

h1 {
    font-family: Drum_font_Italic_Bold;
}

h3 {
    font-family: Drum_font;
}

h5 {
    text-align: left;
    margin-left: 100px;
    font-family: Drum_font_Bold;
}

p {
    text-align: right;
    margin-left: 300px;
    margin-right: 100px;
}

@font-face {
    font-family: Drum_font_Italic_Bold;
    src: url(beat_of_drum/Beat\ Of\ Drum-Bold-Italic.otf);
}

@font-face {
    font-family: Drum_font;
    src: url(beat_of_drum/Beat\ Of\ Drum.otf);
}

@font-face {
    font-family: Drum_font_Bold;
    src: url(beat_of_drum/Beat\ Of\ Drum-Bold.otf);
}
